<div *ngIf="selected">

</div>


<div class="container" >
  <div class="row" style="margin-top: 25px;">
      <div class="col-sm-12">
          <h1 style="background-color: aqua; " align="center" >Equipos</h1>
      </div>
  </div>
  <div class="row" align="center">
      <div class="col-sm-7">
          <table class="table" id="series">
              <thead>
                  <tr>
                  <th scope="col">#</th>
                  <th scope="col">Country</th>
                  <th scope="col">Name</th>
                  </tr>
              </thead>
              <div *ngFor="let equipo of Equipos" >
                <tr (click)="onSelected(equipo)">
                  <td>{{equipo.id }}</td>
                  <td>{{equipo.country}} </td>
                  <td>{{equipo.name}}</td>
                </tr>
              </div>

          </table>

          <div id="Avg" align="left" style="background-color:azure ; padding:10px ;  ">

          </div>
      </div>


  </div>
</div>
